body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}
.square {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}